*{
    /*Tirar os valores padrao*/
    margin: 0;
    padding: 0;
    /*Muda a forma de calcular a distancia*/
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.example-pre{
    padding: 10px;
}

.code-container{
    border: solid 1px black;
}

.example{
    
}

#points-input{
    width: 100%;
    height: 30pt;
    font-size: 18pt;
}

#btn-calc{
    width: 100%;
    height: 30pt;
    font-size: 18pt;
}

#code-results{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#code-results h2{
    text-align: center;
    background-color: #dce882;
    font-size: 16pt;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 1px black !important;
}

#result-table{
    width: 100%;
    table-layout: fixed;
}

.header-td{
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #dce882;
    font-size: 16pt;
}

.table-line{
    
}

.table-column{
    padding: 10px;
    border: solid 1px black !important;
    font-size: 16pt;
}

.point-column{
    width: 100px !important;
    text-align: center;
    background-color: #ede1bb;
}

.diff-column{
    background-color: #ccb66e;
}

